{{ define "main" }}
	<main class="flex-1 p-4">
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		<div class="space-y-8">
			{{ range $paginator.Pages }}
				<article class="p-0">
					<h2 class="text-xl font-semibold">
						<a href="{{ .RelPermalink }}">{{ .Title }}</a>
					</h2>

					{{ partial "metadata.html" . }}

					<div>
							{{ .Summary }}
					</div>

				</article>
			{{ end }}
		</div>

		{{ partial "pagination.html" . }}
	</main>
{{ end }}
